.tertiary {
    width: 116px;
    height: auto;
}
.pictureActivities-1 {
    background-image: url("/assets/png/activites1.png");
    background-size: cover;
    object-fit: cover;
    width: calc((100% - 20px) / 2);
    height: auto;
}
.box {
    width: calc((100% - 20px) / 2);
    height: auto;
    .colorDescription {
        color: #21272a;
    }
    .primary {
        width: 141px;
        height: 54px;
    }
}
@media only screen and (max-width: 1024px) {
}
