.hero {
    background-image: url(/assets/background/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 20px 64px;
    .container {
        margin: 0 auto;
        text-align: center;
        height: 100%;
        align-content: end;
    }
}

main {
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    .card {
        padding: 12px;
        border-radius: 15px;
        box-shadow: 1px 5px 20px 0 rgb(0, 0, 0, 0.3);
    }
    .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40%;
        border-radius: 4px;
    }
    .blood {
        background-image: url(/assets/activities-picture/blood.png);
    }
    .campaign {
        background-image: url(/assets/activities-picture/activities2.png);
    }
    .spring {
        background-image: url(/assets/activities-picture/spring.png);
    }
    .heart {
        background-image: url(/assets/activities-picture/heart.png);
    }
    .steps {
        background-image: url(/assets/activities-picture/steps.png);
    }
    .content {
        width: 60%;
    }
    .btnToggle {
        display: none;
    }
    @media only screen and (max-width: 1024px) {
        .image {
            width: 100%;
            height: 450px;
        }
        .content {
            width: 100%;
        }
    }
    @media only screen and (max-width: 660px) {
        .image {
            height: 300px;
        }
    }
    @media only screen and (max-width: 500px) {
        .smallText {
            max-height: 60px;
            overflow: hidden;
        }
        .smallText.expanded {
            max-height: 1000px;
        }
        .btnToggle {
            display: block;
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .hero {
        height: 200px;
    }
}
@media only screen and (max-width: 660px) {
    .hero {
        height: 150px;
    }
}