.hero {
    background-image: url(/assets/background/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 20px 64px;
    .container {
        margin: 0 auto;
        text-align: center;
        height: 100%;
        align-content: end;
    }
}

main {
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    .card {
        padding: 12px;
        border-radius: 15px;
    }
    .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40%;
        .blood {
            background-image: url(/assets/activites-picture/blood.png);
        }
    }
    .content {
        width: 60%;
    }
}
