.box {
    max-width: 712px;
    width: 100%;
    height: 379px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 #00000020;
}
.information {
    max-width: 517px;
    width: 100%;
}
@media only screen and (max-width: 660px) {
    .information {
        max-width: none;
    }
    .box {
        height: auto;
        padding: 20px;
    }
}
