.section1 {
    height: calc(100vh - 80px);
}
.box1 {
    max-width: 650px;
    width: 100%;
    .card {
        width: calc((100% - 16px) / 2);
        .input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #c1c7cd;
            outline: unset;
            padding: 0 16px;
            height: 48px;
            border-radius: 10px;
            font-size: 1.2rem;
            background-color: #f2f4f8;
        }
        input::placeholder {
            color: #697077;
        }
    }
    .inputChange {
        border: 0;
        outline: unset;
        width: 100%;
        height: 48px;
        padding: 0 16px;
        font-size: 1.2rem;
        border-radius: 10px;
        border: none;
        border-bottom: 1px solid #c1c7cd;
        background-color: #f2f4f8;
    }
    input::placeholder {
        color: #697077;
    }
    .primary {
        width: 120px;
    }
}
.box2 {
    max-width: 600px;
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 1024px) {
    .section1 {
        height: auto;
        padding: 40px 0;
    }
    .box1 {
        max-width: none;
    }
    .box2 {
        max-width: none;
    }
}
@media only screen and (max-width: 660px) {
    .box1 {
        .card {
            width: 100%;
            .input {
                font-size: 1rem;
            }
        }
        .inputChange {
            font-size: 1rem;
        }
        .primary {
            width: 100%;
        }
    }
}
