.section2 {
    background-color: var(--bg-gray50);
    .card {
        /* box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.25); */
        background-color: white;
        border-radius: 5px;
        height: fit-content;
        border: 1px solid rgb(164, 164, 164);
        width: 308px;
        .image {
            height: 296px;
            background-image: "./";
            background-position: 50%;
            background-size: 100%;
            border-radius: 5px 5px 0 0;
        }
        .text {
            padding: 8px;
        }
    }
}