.section1 {
    background: url(/assets/background/header-background.png);
    background-size: cover;
    background-position: 50%;
    height: calc(90vh - 80px);
    position: relative;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: 1;
    }
    .container {
        z-index: 2;
    }
}
.section2 {
    .card {
        border: 1px solid #aaaaaa;
        height: 83px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        background-color: white;
        width: calc(100% / 4 - 16px * 3 / 4);
        min-width: 150px;
        .number {
            font-size: 26px;
            font-weight: 700;
            line-height: 110%;
            color: var(--primary);
        }
        .type {
            font-size: 18px;
            color: var(--text-gray);
            font-weight: 400;
            line-height: 140%;
        }
    }
}
.section3 {
    background-color: var(--bg-gray50);
    .card {
        /* box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.25); */
        background-color: white;
        border-radius: 5px;
        height: fit-content;
        border: 1px solid rgb(164, 164, 164);
        width: 308px;
        .image {
            height: 296px;
            background-image: url(/assets/activites-picture/blood.png);
            background-position: 50%;
            background-size: cover;
            border-radius: 5px 5px 0 0;
        }
        .text {
            padding: 8px;
        }
    }
}
.section5 {
    .container {
        display: flex;
        flex-direction: row;
        gap: 64px;
        justify-content: space-between;
        .left {
            background-image: url(/assets/faq.jpg);
            background-size: cover;
            background-position: 50%;
            min-height: 475px;
            height: 100%;
            width: calc(100% / 2 - 64px / 2);
            border: 10px solid white;
        }
        .right {
            text-align: center;
            width: calc(100% / 2 - 64px / 2);
            .faq {
                width: 100%;
            }
            .question {
                cursor: pointer;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                font-size: 20px;
                font-weight: bold;
                background-color: white;
                border: 2px solid #DDE1E6;
                min-height: 59px;
                color: rgba(33, 39, 42, 87%);
                transition: 0.25s;
                span {
                    color: inherit;
                }
            }
            .question:hover {
                background-color: rgb(240, 240, 240);
            }
            .answer {
                color: rgba(33, 39, 42, 87%);
                display: none;
                text-align: left;
                font-size: 18px;
                font-weight: 500;
                height: 0px;
                overflow: hidden;
                padding: 8px 16px;
                background-color: white;
                border: 2px solid #DDE1E6;
            }
        }
        @media only screen and (max-width: 1024px) {
            .right {

                width: 100%;
                .flex-c {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                }
                .question {
                    max-width: 600px;
                    width: 95%;
                }
                .answer {
                    width: 95%;
                    max-width: 600px;
                }
            }
        }
    }
}